header, main, footer {
    padding-left: 300px;
}

ul li.active{
    background-color: #121212 !important;
}
ul li:hover {
    background-color: #121212;
}


@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
