.top-nav .container .nav-wrapper .brand-logo {
    padding-left: 300px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width : 600px) and (max-width : 992px) {
    .top-nav .container .nav-wrapper .brand-logo {
        padding-left: 150px;
    }
}
