header, main, footer {
    padding-left: 300px;
}

nav ul li.active,
nav ul li.hover {
    background-color: #0d0d0d;
}


@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
